<footer class="container-fluid bg-dark text-light py-1">
    <div class="row mt-4">
      <div class="col-4 d-flex justify-content-center">
        <p>Contacto:{{persona?.mail}},
            <a href="{{persona?.urlGithub}}">
              Github
            </a>, 
            <a href="{{persona?.urlLinkedin}}">
              Linkedin
            </a>
        </p>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <p>Proyecto realizado para "#YoProgramo"</p>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <p>Muchas gracias.</p>
      </div>
    </div>
  </footer>