<section class="first-part container-fluid pb-4">
    <section class="banner m-auto mt-4 border border-secondary border-2 rounded">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </section>
    <section class="owner container">
      <div class="card mx-auto border-0 mt-4 ">
        <div class="row g-2 bg-most-dark-blue">
          <div class="col-md-3">
            <img src="../assets/images/owner.jpg" class="img-fluid rounded-circle" alt="Imagen del dueño del portfolio">
          </div>
          <div class="col-md-4 offset-md-3 fs-5">
            <div class="card-body text-light">
              <h2 class="card-title">Valdivia Ricardo</h2>
              <p class="card-text">Buenas! Soy un programador principiante, este es mi portfolio, que ha pesar que esta vacio, todo lo que se muestra fue hecho con mucho esfuerzo y ganas!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>