<section class="proyecto container-fluid text-light bg-most-dark-blue pb-4 mt-4">
  <h2 class="ms-4">Proyectos
      <a routerLink="/proyectoCrear">
          <img class="img-responsive me-4" src="../assets/images/addButton.svg" alt="Añadir"  height="30">
      </a>
  </h2>
  <div class="row">
    <div class="col-6" *ngFor="let proy of proyectos">
      <div class="card border-0 mx-auto m-2 rounded-3">
        <h5 class="card-header bg-11 bg-card-title">{{ proy.nombreProyecto }}
          <a [routerLink]="['/proyectoEdit', proy.id]">
            <img class="img-responsive ms-4" src="../assets/images/editButton.svg" alt="Editar"  height="30">
          </a>
          <button type="button" class="btn" [attr.data-bs-target]="'#proyectoModal-' + proy.id" data-bs-toggle="modal">
            <img class="img-responsive" src="../assets/images/deleteButton.svg" alt="Editar" height="30">
          </button>
          <div class="modal fade" [id]="'proyectoModal-' + proy.id" tabindex="-1" aria-labelledby="proyectoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-danger">
                  <h1 class="modal-title fs-5 text-black" id="proyectoModalLabel">Eliminar</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-most-dark-blue">
                  ¿Estas seguro de eliminar este elemento? Desaparecera para siempre.
                </div>
                <div class="modal-footer bg-secondary">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(proy.id)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </h5>
        <div class="card-body bg-card-body">
          <h5 class="card-title">{{proy.descripcionProyecto}}</h5>
          <a href="{{proy.repoUrl}}" target="_blank">Link de github</a>
        </div>
      </div>
    </div>
  </div>
</section>